<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lucas Na Chapa</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <img src="/static/assets/logo-Lucas-na-chapa.png" 
        alt="logo Lucas Na Chapa">
        <h1>Lucas Na Chapa</h1>
</header>
  <nav>
    <a href="#cardapio">Cardápio</a>
    <a href="#contato">Contato</a>
  </nav>

   <section id="cardapio">
    <h2>Cardápio</h2>
    
    {% for codigo, item in cardapio.items() %}
    <div class="menu-item">
      <h3>{{ item.nome }}</h3>
      <p>R$ {{ "%.2f"|format(item.preco) }}</p>
      <img src="{{ url_for('static', filename='assets/' + item.imagem) }}">
    </div>
    {% endfor %}

  </section>

  <section id="contato">
    <h2>Contato</h2>
    <p>📞 (48) 4002-8922</p>
    <p>📍 R. Fernandes Rovaris, nº 327 - Centro, Criciúma - SC</p>
  </section>

  <footer>
    <p>&copy; 2025 Lucas Na Chapa - Todos os direitos reservados.</p>
  </footer>
</body>
</html>